


span{
    margin-left: 20px;
margin-bottom: 10px;
font-weight: 500;
font-size: 15px;
color: white;
display: inline-block;

}




.playlists{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 15px;
    

    img{
        width: 30px;

    }
}